body {
    font-family: sans-serif;
    width: 95%;
    margin: 2.5% auto;
}

.header-img > img {
    max-width: 100%;
}

@media screen and (min-width: 901px) {
    .header-img > img {
        width: 900px;
        margin: 15px auto;
    }
}


@media screen and (min-width: 769px) {

    h1 {
        float: left;
    }

    .nav-links {
        list-style-type: none;
        float: right;
    }

    .nav-links > li {
        display: inline-block;
    }

    .alert-info {
        display: none;
    }

    .main {
        box-sizing: border-box;
        width:70%;
        float: left;
        padding-right:5%;
    }

    .sub-section {
        box-sizing: border-box;
        width: 30%;
        float: left;
    }
}

@media screen and (max-width: 768px) {

    .alert-info {
        background-color: #CCFFFF;
        border: 1px solid #CCCCCC;
        text-align: center;
        padding: 2.5% 0;
        font-size: .9em;
        display: block;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
    }

    .nav-links {
        text-align: center;
        padding-left: 0px;
        list-style-type: none;
    }

    .nav-links > li {
        background-color: #CCCCCC;
        margin-bottom: 2.5%;
        padding: 5%;
    }

    .sub-section {
        margin-top: 2em;
        margin-bottom: 4em;
    }

    .sub-section > * {
        font-style: italic;
    }

    .sub-section > h2 {
        font-size: 1.25em;
    }

}
