body {
    font-family: sans-serif;
}

h1 {
    float: left;
}

.nav-links {
    list-style-type: none;
    float: right;
}

.nav-links>li {
    display: inline-block;
}

.alert-info {
    display: none;
}


@media screen and (max-width: 768px) {

    body {
        width: 95%;
        margin: 2.5% auto;

    }

    .alert-info {
        background-color: #CCFFFF;
        border: 1px solid #CCCCCC;
        text-align: center;
        padding: 2.5% 0;
        font-size: .9em;
        display: block;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
    }

    .nav-links {
        text-align: center;
        padding-left: 0px;
    }

    .nav-links > li {
        background-color: #CCCCCC;
        margin-bottom: 2.5%;
        padding: 5%;
    }

    .header-img > img {
        max-width: 100%;
    }

    .sub-section {
        margin-top: 2em;
        margin-bottom: 4em;
    }

    .sub-section > * {
        font-style: italic;
    }

    .sub-section > h2 {
        font-size: 1.25em;
    }

}
